<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <div class="background">
                
            </div>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>