<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
                <% pages.map(item=>{
                    %>
                    <div class="item">
                        <p><%=item.name %></p>
                    </div>
                <%
                })
                %>
               
            <%- include('./partials/footer.ejs') %>
    </body>

</html>